/* For better readability, I have added comments to each property and value, but only once, to avoid too much Repetition. */


* {
    margin: 0;/* Removes default margin */
    padding: 0;/* Removes default padding */
    box-sizing: border-box;/*  */
    
}
html {
    scroll-padding-top: 80px; /* smooth scrolling */
}

body {
    font-family: Arial, sans-serif; /* Font family */
    line-height: 1.6; /* sets line height*/
}

/* Header Styles */
header {
    position: fixed; /* fixes header at the top */
    top: 0;
    left: 0;
    width: 100%;/* appropriate width */
    background: black;  /* background color set to black */
    color: white; /* font color */
    padding: 1%;  /* sets padding around header */
    display: flex; /* flex for alignment */
    justify-content: space-between; /* Space between contents */
    align-items: center; /* Centers items vertically */
    z-index: 1000;/* makes sure the header stays at top */
}

span {
    color: #ffa343; /* sets The color of 'Haven' */
}

.logo {
    font-size: 30px; /* sets font size */
    font-weight: bold; /* bold logo text */
    margin-bottom: 10px;
    
}

nav ul {
    list-style: none;/* removes list styling */
    display: flex; /* flexbox for navigation items */
}

nav ul li {
    margin: 0 15px; /* margin between nav items */
}

nav ul li a {
    color: white; /* font color set to white */
    text-decoration: none; /* no text decoration */
    font-size: 1rem; /* font size */
}

nav ul li a:hover {
    color: #ffa343; /* When you hover over nav items it would turn this color */
}

/* Section Styles */
section {
    padding-top: 80px;/* add space at the top to avoid overlapping with the fixed header */
}

#home {
    position: relative; 
    height: 140vh; /* sets height of homepage */
    width: 100%;/* sets the width of homepage */
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url(https://th.bing.com/th/id/R.cd843fb371d5e9cba8d9383a15fdf2ea?rik=z3XtccfVIDm0TA&pid=ImgRaw&r=0);/* background image added */
    background-size: cover; /*covers the page with background image */
    background-position: center; /* centers background image */
    display: flex;
    align-items:center; /* items centered */
    justify-content: flex-start; /* aligns items to the left */
}

.home-text h5{
    position: relative;
    color: #ffa343; /* sets text color */
    font-size: 30px;/* sets font size */
    font-weight: 600;/* makes text bold */
    margin-bottom: 10px; /* adds space below */
    text-transform: uppercase; /* uppercase text */
    letter-spacing: 6px;/* letter spacing */
    display: flex;
    justify-content: center; /* centers the text*/
    text-align: center;/* centers text alignment */
  
    
}

.home-text h1{
    font-size: 58px;/* sets font size */
    font-weight: 300;/* makes text light */
    line-height: 1.2; /* sets line height */
    margin-bottom: 28px; /* adds space below*/
    text-align: center; /* centers the text */
    color: #ffffff; /* sets text color to white */
    font-family: 'Merienda One', 'Brush Script MT', cursive; /* font family */
    
    
}

.home-text p{
    font-size: 20px; /* sets font size */
    font-weight: 500;/* sets font weight  */
    line-height: 30px;/* sets line height */
    color: #ffffff;/* sets text color to white */
    margin-bottom: 35px;/* adds space below */
    text-align: center;/* centers the paragraph text */


}


#product {
    background: #f4f4f4; /* sets background color */
    color: #333; /* sets text color */
    text-align: center;/* centers content */
    background-color: rgba(255, 253, 254, 0.799);/* semi-transparent background */
    padding: 0; /* removes padding */

}

.product-item:hover{
    background-color: rgba(204, 149, 11, 0.799);/* changes background color on hover */
}

.product-item {
    background: white;/* sets the background in this color */
    border: 1px solid #ddd; /* white border */
    border-radius: 5px;/* rounded corners */
    padding: 10px;  /* padding inside product */
    text-align: center;/* centers the content  */
    display:flex;/* uses flexbow*/
    flex-direction: column;/* arranges items in a column */
    justify-content: space-between;/* adds space between content */
    height: 400px;/* sets fixed height */
}


.product-item img {
    max-width: 100%; /* responsive image*/
    height: 200px; /* sets height */
    object-fit: cover;/* ensures image covers its container */
    margin-bottom: 15px;/* adds space below the image */
    margin-top: 20px;/* adds space above the image */
}


#contact {
    
    text-align: center;/* centers the content */
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url(https://wallpaperaccess.com/full/2749372.jpg);/* background with gradient and image */
    background-size: cover;/* ensures background image covers the area */
    background-position: center;/* centers the background image*/
    background-repeat: no-repeat;/* to ensure that the background does not repeat */
    
    
}

h3 {
    font-family: 'Merienda One', 'Brush Script MT', cursive;/* sets font family */
}

#about {
    display: flex;/* used flexbox*/
    
}

.about-image{
    background: url('skincare.image2.jpg') no repeat center center;/* background image */
    background-size: cover;/* ensures the image covers the container*/
    flex: 1;/* makes it take equal space with the text  */
    height: 100%;/* ensures it covers the full height */
    min-width: 250px;  /* ensures a minimum width for better scalling on smaller screens */
}
/* styling for the about text container */
.about-text{
    background-color: #ddd;/* sets background color */
    flex: 1;/* makes it take equal space with the image */
    padding: 20px;/* adds padding */
    height: 100%;/* ensures it covers the full height */
}
/* styling for images inside about image */
.about-image img{
    width: 100%; /* makes image responsive */
    height: 100%;/* makes image fill container */
    object-fit: cover;/* ensures image doesn't get distorted */
    
}
#about h2{
    margin: 0%; /* removes any margin */
    color:#000000;/* sets text color to black */
    width:100%;/* ensures full width */
    height:20px;/* sets height*/
  
}

@media (max-width: 768px) {
    #about {
    flex-direction: row;
    }

    .about-image {
        min-width: 100%;

    }

    .about-text{
        padding: 10px;

    }
    .about-image img{
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    #about{
        padding: 10px;
    }
    .about-text {
        padding: 10px;
    }
    .about-text {
        padding: 10px;
    }
}

table-container{
    margin: 20px auto;/* centers the table container with margin */
    display: flex;/* adds flexbox */
    justify-content: center;/* centers the content */
    
   
   
}
table {
  
    background-size: cover;/*  ensures table background covers the area  */
    border-radius: 10px;/* round corners of the table*/
    color: black;/* sets text color to white */
    box-shadow: 0 2px 5px rgb(0, 0, 0);/* adds shadow for depth */
    width:100%;/* ensures table takes full width */
    
    text-align: center;/* centers text inside the table*/
    margin-left: 10px;/* adds left margin */
    table-layout: fixed; /* ensures that columns have a fixed width */
   
    
}
th, td {

    border: 1px solid #000000; /* add border to table cells */
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);/* adds shadow to cells */
    padding: 10px;/* adds padding*/
}



.contact-map-container{
    display: flex;/* ensures it covers the full height */
    justify-content: flex-start;/* ensures it covers the full height */
    margin-top: 20px; /* margin above */
    margin-left: 20px;/* margin to the left */
}

.contact-map-container iframe {
     width: 100%; /* makes iframe fill container */
}

.open-time {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info{
    
   margin-bottom: 20px; /* adds bottom margin */
   display: flex;/* uses flexbox*/
   flex-direction: column; /* column layout */
   align-items: center;/* ensures it covers the full height */
   
}
.bold{
    font-weight: bold;/* makes text bold*/
}




#contact  h3 {
    font-size: 35px; /* sets font size */
    margin: 20px 0;/* sets margin */
    color: #ffffff;/* sets text color */
    
}

#contact p{
    color: #ffffff;
}








/* Footer Styles */
footer {
    text-align: center;/* centers contents */
    background: #333;/* sets background color */
    color: white;/* sets text color */
    padding: 20px 10px;/* sets padding */
}

.social-media a {
    color: #ffa343;/* sets link color */
    text-decoration: none;/* removes underline */
    margin: 0 10px;/* adds horizontal margin */
    font-size: 1.2rem;/* sets font text*/
}

.social-media a:hover {
    text-decoration: underline;/* adds underline on hover */
}

/* Responsive Design */
/* styles for screens smaller than 768px */
@media(max-width: 768px) {
    h1{
        font-size: 1.5rem;  /* reduces font size of h1 */
    }
}


/* Form */

form {
	width: 90%; /* makes form responsive */
    max-width: 600px; /* limits maximum form width*/
	padding: 20px;/* adds padding */
	border-radius: 8px;/* rounds corners */
	margin: 25px auto;/* centers form with margins */
	background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url(https://wallpaperaccess.com/full/2749372.jpg);/* background with gradient and image */
    background-size: cover;/* ensures background covers the form */
    box-shadow: white;/* adds shadow */
    color: #fff;/* sets text color to white */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* adds soft shadow */

}
   

    fieldset{
    border: none;/* removes fieldset border */
    margin-top: 20px;/* adds margin above */
    }
    label{
    display: block; /* block display for labels */
    margin: 10px 0 5px; /* margin for labels */
    }
    
    input[type="text"],
    input[type="skincare"],
    select,
    textarea{
    width: 100%;/* makes inputs take full width */
    padding: 10px;/* adds padding */
    margin-bottom: 15px;/* adds space below */
    border: 1px solid #ccc;/* add light border */
    border-radius: 4px;/* rounds corners */
    }
    input[type="submit"],
    input[type="reset"]{
    width: 48;/* makes buttons take 48% width */
    padding: 10px;/* adds padding */
    background-color: #5e361b;/* sets background color */
    color: white;/* sets text color to white */
    border: none;/* removes border */
    border-radius: 4px;/* rounds corners */
    cursor: pointer; /* pointers cursor on hover */
    margin-top: 10px;/* adds top margin */
    }
    
    input[type="submit"]:hover{
    background-color: #ffa343;/* changes background color on hover */
    }
    .message {
    display: none;/* hides image by default*/
    background-color: 6f0a63;/* sets background color */
    padding: 20px;/* adds padding */
    color: black;/* sets text color */
    margin-top: 20px;/* adds margin */
    text-align: center;/* centers text */
    }

   
    /* For smaller screens  */
    @media (max-width: 600px) {
    input[type="submit"],
    input[type="reset"]{
    width: 100%;/* ensures it covers the full height */
    }

    .form-header h1 {
        
        height: 50px;
        font-size: 15px;/* ensures it covers the full height */
        
    }
    }    


.form-header{
    font-size: 15px;/* ensures it covers the full height */
    
    color: #000;/* ensures it covers the full height */
    background-color: #fff;/* ensures it covers the full height */
    
}
